<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="club.plus1.forcetaxi">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ForceTaxi"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".view.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.EnterActivity" />
        <activity android:name=".view.EnterResultActivity" />
        <activity android:name=".view.RegistrationActivity" />
        <activity android:name=".view.RegistrationVerificationActivity" />
        <activity android:name=".view.RegistrationFinishedActivity" />
        <activity android:name=".view.RecoveryActivity" />
        <activity android:name=".view.RecoveryEmailActivity" />
        <activity android:name=".view.RecoveryPhoneActivity" />
        <activity android:name=".view.PasswordActivity" />
        <activity android:name=".view.PasswordResultActivity" />
        <activity android:name=".view.PinSetActivity" />
        <activity android:name=".view.PinConfirmActivity" />
        <activity android:name=".view.PinResultActivity" />
        <activity android:name=".view.PinEnterActivity" />
        <activity android:name=".view.InnSetActivity" />
        <activity android:name=".view.InnSetResultActivity" />
        <activity android:name=".view.InnSearchActivity" />
        <activity android:name=".view.InnSearchResultActivity" />
        <activity android:name=".view.InnInfoActivity" />
        <activity android:name=".view.InnBindActivity" />
        <activity android:name=".view.InnBindResultActivity" />
        <activity android:name=".view.CheckActivity" />
        <activity android:name=".view.CheckHistoryActivity" />
        <activity android:name=".view.CheckStornoActivity" />
        <activity android:name=".view.CheckStornoResultActivity" />
    </application>

</manifest>